<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Votings</title>
</head>
<body>
    <header class="bg-dark-subtle">
        <div class="d-flex w-100">
            <ul class="d-flex flex-row nav nav-pills w-100">
                <li class="nav-item w-50">
                    <a href="/characters" class="nav-link d-flex justify-content-center">Characters</a>
                </li>
                <li class="nav-item w-50">
                    <a class="nav-link active d-flex justify-content-center" aria-current="page">Votings</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container mt-5">
        {% for voting in votings %}
            <div class="w-100 justify-content-center row g-0 border rounded overflow-hidden flex-md-row mb-4
                shadow-sm h-md-250 position-relative bg-secondary-subtle">
                <div class="row p-4 d-flex flex-row position-static">
                    <div class="d-flex justify-content-center fs-2">
                        <h2>{{ voting.title }}</h2>
                    </div>
                    <div class="mb-3 text-body-secondary d-flex justify-content-center">
                        {{ voting.start_date }} - {{ voting.end_date }}
                    </div>
                    <hr class="mb-4" />
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <div class="img-thumbnail"
                                 style="background-image: url({{ voting.characters.all.0.img_url.url }});
                                 background-size: cover; background-repeat:no-repeat; width:300px; height:300px; ">
                            </div>
                            <div class="d-flex flex-column pt-2" style="max-width: 300px;">
                                <h4 class="text-center text-break">
                                    {{ voting.characters.all.0.first_name }}
                                    {{ voting.characters.all.0.second_name }}
                                    {% if voting.characters.all.0.last_name %}
                                        {{ voting.characters.all.0.last_name }}
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <p>Amount of votes to auto-win: {{ voting.max_votes }}</p>
                            <p>
                                Votes for {{ voting.characters.all.0.first_name }}
                                {{ voting.characters.all.0.second_name }}: {{ voting.first_char_votes }}
                            </p>
                            <p>
                                Votes for {{ voting.characters.all.1.first_name }}
                                {{ voting.characters.all.1.second_name }}: {{ voting.first_char_votes }}
                            </p>
                            <p>Expired: {{ voting.expired }}</p>
                        </div>
                        <div>
                            <div class="img-thumbnail"
                                 style="background-image: url({{ voting.characters.all.1.img_url.url }});
                                 background-size: cover; background-repeat:no-repeat; width:300px; height:300px; ">
                            </div>
                            <div class="d-flex flex-column pt-2" style="max-width: 300px;">
                                <h4 class="text-center text-break">
                                    {{ voting.characters.all.1.first_name }}
                                    {{ voting.characters.all.1.second_name }}
                                    {% if voting.characters.all.1.last_name %}
                                        {{ voting.characters.all.1.last_name }}
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        </div>
                            <hr class="mb-4" />
                        <div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
