{% extends 'base.html' %}
{% block header %}
    <li class="nav-item w-50">
        <a class="nav-link active d-flex justify-content-center"
           aria-current="page">Characters
        </a>
    </li>
    <li class="nav-item w-50">
        <a href="/votings" class="nav-link d-flex justify-content-center">Votings</a>
    </li>
{% endblock %}
{% block content %}
    {% for character in characters %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-secondary-subtle">
            <div class="col p-4 d-flex flex-column position-static">
                {% if character.last_name %}
                <h3 class="mb-0">{{ character.first_name }} {{ character.second_name }} {{ character.last_name }}</h3>
                {% else %}
                <h3 class="mb-0">{{ character.first_name }} {{ character.second_name }}</h3>
                {% endif %}
                <div class="mb-1 text-body-secondary">Age: {{ character.age }}</div>
              <p class="card-text mb-auto me-3">{{ character.bio }}</p>
            </div>
            {% if character.img_url %}
                <div class="col-auto d-none d-lg-block w-25 h-25">
                  <img src="{{ character.img_url.url }}" alt="{{ character.img_url }}" class="img-fluid img-thumbnail">
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
